<div class="message-navbar">
  <%= link_to messagerie_path do %>
  <i class="fa fa-arrow-left" aria-hidden="true" style="position:relative;left:0;"></i>
  <% end %>
  <%= link_to dashboard_path do %>
  <i class="fa fa-home" aria-hidden="true" style="position:relative;left:130px"></i>
  <% end %>
</div>
<div id="message-<%= @message.id %>" class="message-card read-true">
    <img class="message-photo" src="<%= @message.user.photo_url %>" alt="">
    <div class="message-details">
      <h3 style="<% if @message.read %>font-weight:300<% else %>font-weight:bolder<%end%>"><%= @message.user.first_name %> <%= @message.user.last_name %></h3>
      <h4 style="<% if @message.read %>font-weight:300<% else %>font-weight:bolder<%end%>"><%= @message.title %>
      </h4>
    </div>
  </div>
<div class="message-content">
  <p><%= @message.content.html_safe %></p>
</div>
<button id="answer-btn"> Répondre </button>
